{% load static %}
<!DOCTYPE HTML>
<head>
    <title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'rab/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rab/css/login.css' %}">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'rab/js/login.js' %}"></script>
</head>
<body>
	<div id = "title-bar">
	    <p>RAB - User Portal Login</p>
	</div>
	<div class="limiter">
		<div class="container-form">
			<div class="wrap-form">
				<form class="login" id = "login-form" method="POST" action= "login_user">
					{% csrf_token %}
					<p class="form-title">
						User login
					</p>

					<div class="wrap-input">
						<input id = "login-username" class="input" type="email" name="username" placeholder="Username">
					</div>

					<div class="wrap-input">
						<input id = "login-pw" class="input" type="password" name="pass" placeholder="Password">
					</div>
					
					<div class="container-form-btn">
						<input type=Submit id="login" class="form-btn" value="Login">
						<!--<button id="login-btn" class="form-btn" type="button">
							Sign in
						</button>-->
					</div>

				</form>
			</div>
		</div>
		
		
		<div class="container-form">
			<div class="wrap-form">
				<form class="register" id = "register-form" method="POST" action="sign_up">
					{% csrf_token %}
					<p class="form-title">
						Start a Restaurant
					</p>

					<div class="wrap-input ">
						<input id = "reg-username" class="input" type="email" name="username" placeholder="Username">
					</div>

					<div class="wrap-input">
						<input id = "reg-pw" class="input" type="password" name="pass" placeholder="Password">
					</div>
					
					<div class="wrap-input">
						<input id = "reg-pw-cfm" class="input" type="password" name="pass_cfm" placeholder="Confirm Password">
					</div>

					<div class="container-form-btn">
						<input type=Submit id="register-btn" class="form-btn" value="Submit">
							
					<!--	<button id="register-btn" class="form-btn" type="button">
							Register
						</button>-->
					</div>
				</form>
			</div>
		</div>
	</div>
</body>