{% load static %}
<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'rab/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rab/css/manager.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rab/css/employee.css' %}">
    
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'rab/js/manager_employee.js' %}"></script>
</head>
<body>
	<div class="limiter">
	    <div id = "employee-container">
		    <div id = "employee-list-container">
		    <div id = "employee-list-items-container">
		        
		    </div>
		    <div id = "add-item-container">
		        <img id= "add-item-btn" src="{% static 'rab/resources/plus.png' %}" alt="Click to add an item">
		    </div>
		    </div>
		    <div id = "employee-detail-container">
		        <iframe id="employee-detail" frameborder="0" width="100%" height="100%"></iframe>
		    </div>
		</div>
	</div>
</body>

	