{% load static %}
<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'rab/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rab/css/manager.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rab/css/menu.css' %}">
	
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'rab/js/manager_menu_detail.js' %}"></script>
</head>
<body>
	<div class="limiter">
        <div class="wrap-form">
            <form class="dish-info">
                <div class="wrap-input">
                    <p>Display Name*</p>
                    <input id = "display-name" class="input" type="text" name="display-name" placeholder="Name" required="required">
                </div>

                <div class="wrap-input">
                    <p>Cook Time (min)</p>
                    <input id = "cook-time" class="input" type="number" name="cook-time" placeholder="00" required="required">
                </div>

                <div class="wrap-input">
                    <p>Fresh Time (min)</p>
                    <input id = "fresh-time" class="input" type="number" name="fresh-time" placeholder="00" required="required">
                </div>

                <div class="wrap-input">
                    <p>Food Image</p>
                    <input id = "food-image" class="input" type="file" name="food-image" accept="image/jpeg,image/x-png">
                    <img id = "current-food-image" src="{% static 'rab/resources/shrimp-cocktail.jpg' %}" alt="" width="100px" height="100px">
                </div>
             
                <div class="container-form-btn">
                    <button id="save-btn" class="form-btn" type="button">
                        Save
                    </button>
                    <button id="delete-btn" class="form-btn" type="button">
                        Delete
                    </button>
                </div>
                
                <!-- Rounded switch -->
                <div style="margin: 40px auto;">
                    <p style="font-size: 20px;">Serve This Dish</p>
                    <label class="switch">
                        <input id = "serve-dish" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                
            </form>
        </div>
    </div>
</body>


